body {
  background-color: lightgreen;
}

h1 {
	font-family: "Georgia";
  font-size: 150px;
  color: black;
  margin-left: auto;
  text-align: center;
}
/*#practice_canvas {
    position: absolute;
    top: 200;
    bottom: 200;
    left: 0;
    right: 0;
    margin: auto;
}*/

div .top {
	background-color: lightblue;
	height: 100%;
}

#logo.png img {

  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 top: -5%;
 position: absolute;
 left: 37.5%;
}